@model IngredientPreviewViewModel

<div>
    <div class="card mb-5" style="border-block-color:black">
        <a class="ingredient-link" asp-area="" asp-controller="Ingredient" asp-action="Ingredient" asp-route-id=@Model.Id>
            <div class="card" >
                <img class="card-img-top" style="width: 26rem; height: 26rem" src="@Model.ImageUrl" />
            </div>
            <div class="card text-start">
                <p>Name: @Model.Name</p>
                <p>Type: @Model.Type</p>
                <p>Origin: @Model.Origin</p>
                <p>Calories: @Model.Calories</p>
            </div>
        </a>
    </div>
</div>