@model IngredientViewModel

@{
    ViewBag.Title = "Ingredient";
}

<h1 class="ingredient-headers">@Model.Name</h1>
<div class="ingredient-container">
    <div class="ingredient-img">
        <img src="@Model.ImageUrl" />
    </div>
    <div class="ingredient-prop">
        <div class="ingredient-type">
            <p>Ingredient Type: @Model.Type</p>
        </div>
        <div class="ingredient-origin">
            <p>Origin: @Model.Origin</p>
        </div>
        <div class="ingredient-calories">
            <p>Calories: @Model.Calories kcal</p>
        </div>
    </div>
    <div class="ingredient-descr">
        <p>
            @Model.Description
        </p>
    </div>
</div>