@model CuisineViewModel
@{
    ViewBag.Title = Model.Name;
}

<h1 class="recipes-headers">@Model.Name</h1>
<br />
<div>
    <div class="wrap">
        <img style="width: 70rem; height: 50rem;" src="@Model.ImageUrl" />
        <p>@Model.Description</p>
        @if (User.Identity.IsAuthenticated)
        {
            <form class="ml-2" asp-controller="Cuisine"
              asp-action="AddFavoriteCuisine" asp-route-id="@Model.Id" method="post">
                <input class="btn btn-primary" type="submit" value="Favorite" />
            </form>
        }
    </div>
</div>
@{
    if (!Model.CuisineRecipe.Any())
    {
    <h4>No recipes found for this cuisine yet!</h4>
    <p>You know a recipe for the cuisine? Click here to created it!</p>
    <a class="recipe-link" asp-area="" asp-controller="Recipe" asp-action="CreateRecipe">
                <input type="button" class="btn btn-primary" value="Create Recipe" />
    </a>
    }
}

<div>
    @foreach (var recipe in Model.CuisineRecipe)
    {
        <partial name="_RecipesByEntityPartial" model="@recipe" />
    }
</div>
