@model IEnumerable<RecipePreviewViewModel>
@{
    ViewData["Title"] = "Recipes";
}

<h2 class="recipes-headers">All Recipes</h2>
<div class="recipe-container">
    <div class="wrap">
        <h4>
            <span>Recent Recipes</span>
        </h4>
        <div class="recent">
            @foreach (var recipe in Model)
            {
                <a class="recipe-link" asp-area="" asp-controller="Recipe" asp-action="Recipe" asp-route-id="@recipe.Id">
                    <div class="recent-recipe">
                        <img src="@recipe.ImageUrl">
                        <p class="recipe-title">@recipe.Name</p>
                        <p class="recipe-quickdesc">Description: @recipe.QuickDescription</p>
                        <p class="recipe-cuisine">Cuisine: @recipe.Cuisine</p>
                        <p class="recipe-user">Created by: @recipe.User</p>
                    </div>
                </a>
            }
        </div>
    </div>
    <div class="cuisine-recipes">
        <h4>
            <span>Recipes by Cuisine</span>
        </h4>
        <div class="cuisine-recipe">
            <img src="https://static.wixstatic.com/media/f588cd_caa56fa0afb24c7d82c42c42c6811ee9~mv2.png/v1/fill/w_400,h_589,al_c,q_85,enc_auto/f588cd_caa56fa0afb24c7d82c42c42c6811ee9~mv2.png" />
            <p>Chinese</p>
        </div>
        <div class="cuisine-recipe">
            <img src="https://static.wixstatic.com/media/f588cd_caa56fa0afb24c7d82c42c42c6811ee9~mv2.png/v1/fill/w_400,h_589,al_c,q_85,enc_auto/f588cd_caa56fa0afb24c7d82c42c42c6811ee9~mv2.png" />
            <p>Chinese</p>
        </div>
        <div class="cuisine-recipe">
            <img src="https://static.wixstatic.com/media/f588cd_caa56fa0afb24c7d82c42c42c6811ee9~mv2.png/v1/fill/w_400,h_589,al_c,q_85,enc_auto/f588cd_caa56fa0afb24c7d82c42c42c6811ee9~mv2.png" />
            <p>Chinese</p>
        </div>
    </div>
</div>
