@model RecipeViewModel
@{
    ViewData["Title"] = "Recipe";
}

<h1 class="display-1 recipes-headers">@Model.Name</h1>

<div class="recipe-container">
    <div class="recipe-quickdescr">@Model.QuickDescription</div>
    <div class="recipe-body">
        <img src="@Model.ImageUrl">
        <div class="ingredient-list">
            <h4>
                <span>Ingredients</span>
            </h4>
            <ul class="ingredients">
                <li class="ingredient"> 300 g papardele</li>
                <li class="ingredient"> 400 ml heavy cream</li>
                <li class="ingredient"> 500 g smoked bacon</li>
                <li class="ingredient"> 1 onion</li>
                <li class="ingredient"> 3 cloves garlic</li>
                <li class="ingredient"> 1 tbs olive oil </li>
                <li class="ingredient"> 1 pinch salt </li>
            </ul>
        </div>
        <div class="time-portions">
            <p>Portions: @Model.NumberOfServings</p> <p>Time : @Model.PrepTime</p>
        </div>
        <div class="recipe-descr">
            @Model.Description
        </div>

        <div class="rating">5</div>
    </div>
</div>
