@model RecipeViewModel
@{
    ViewData["Title"] = "Recipe";
}

<h1 class="display-1 recipes-headers">@Model.Name</h1>

<div class="recipe-container">
    <div class="recipe-quickdescr">@Model.QuickDescription</div>
    <div class="recipe-body">
        <img src="@Model.ImageUrl">
        <div class="ingredient-list">
            <h4>
                <span>Ingredients</span>
            </h4>
            <ul class="ingredients">
                @foreach (var ingredient in Model.Ingredients)
                {
                    <li class="ingredient">@ingredient.Quantity @ingredient.Measurement @ingredient.Ingredient</li>
                }
            </ul>
        </div>
        <div class="time-portions">
            <p>Portions: @Model.NumberOfServings</p> <p>Time : @Model.PrepTime</p>
        </div>
        <div class="recipe-descr">
            @Model.Description
        </div>

        <div class="rating">5</div>
    </div>
</div>
